body {
  background-color: #CCCCFF;
  background-image: url(http://i61.tinypic.com/4kvc3p.png);
  background-size: 100px 100px;
  background-attachment: fixed;
  font-family: "Courier New", "Courier", monospace;
  cursor: url(http://i.imgur.com/2wqeqmJ.png), auto;
}
a {
  cursor: url(http://i.imgur.com/2wqeqmJ.png), auto;
}
menu {
  border-radius: 10px;
  border: 1px white;
  background-color: #FFFFFF;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
placard {
  color: black;
  text-align: center;
  font-size: 30pt;
  font-family: "Courier New", "Courier", monospace;
}
