body {
  background-color: #CCCCFF;
  background-image: url(http://i61.tinypic.com/4kvc3p.png);
  background-size: 100px 100px;
  background-attachment: fixed;
}
menu {
  border-radius: 10px;
  border: 1px white;
  background-color: #FFFFFF;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 200px;
  margin-bottom: 200px;
}
