body {
  background-color: #CCCCFF;
}

h1 {
color: black;
text-align: center;
font-size: 30pt;
font-family: "Courier New", "Courier", monospace;
}

main {
color: black;
text-align: center;
font-size: 15pt;
font-family: "Courier New", "Courier", monospace;
}

foot {
  color: black;
  text-align: center;
  font-size: 10pt;
  font-family: "Courier New", "Courier", "monospace";
}
